<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>eGG0/3a1bnmh9N6HDU8bDaMf2lhduqTYufLnDdliKgnLCahpNUDDTX1HUEndQwaKR7UUQJBMoeT7/iuJu9SiDtagd0TaNVOxrgozAq4BVBZj/keSBiGXzGXY/EQIEC0g4fEUrbyd6nXHfhIWSEnbf9Ntu1oWkk4m8MFawKKGc2I=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>2i98kQID131M9lah615b5dz0XAoLQLFqiUIBsMvd7u75Io0jKRYUdcKZ3MpkPZbyDPeH/JzlezQ97NxbjbJaU+eQo1SyRnEStuKxqh67ha9AtthLZrjHCYj0U7g+QeagU433htGRngtwCnWz+OGAMDHJllEpofqi5RXOdekCJpIzy90Dk1an+w2fbPD/oXMhxYWzA4Om/nrzXbK0L7UE/m7GB4uNf0eCsHQkTRL3PDU=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
</configuration>